@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f8fafc;
}

.protected-image {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  user-select: none;
}

/* Disable text selection globally */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

/* Disable image dragging */
img {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}